@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  text-align: center;
  margin: auto;
}

header {
  padding: 30px;
}

header > h1 {
  text-align: center;
  font-weight: normal;
}

/* Timer */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  width: 100%;
  height: 200px;
}

.circle {
  width: 210px;
  height: 210px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.half-circle,
.half-circle-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform-origin: right center;
}

.half-circle:nth-child(1) {
  background-color: red;
}

.half-circle:nth-child(2) {
  background-color: red;
}
.half-circle-top {
  background-color: black;
}

.progressbar-circle {
  width: 190px;
  height: 190px;
  background-color: white;
  border-radius: 50%;
  color: black;
  z-index: 10;
}

.actual-period-title {
  padding-top: 50px;
}

.timer {
  padding-top: 10px;
  font-size: 50px;
}

/* Start - Pause - Reset Buttons */
.operator-buttons-container {
  padding: 40px;
}

.start-button,
.pause-button,
.reset-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
}

button:active {
  background-color: gray;
}

/* Settings */
.settings-container > div {
  margin: 0 15px;
  display: inline-block;
  width: 200px;
  border: 1px solid black;
}

.pomodoro-settings > p,
.short-break-settings > p,
.long-break-settings > p {
  margin: 30px 0;
}

.plus-button,
.minus-button {
  width: 30px;
  height: 30px;
  margin: 0 10px 30px;
  font-size: 25px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
